@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 100;
  src: url('./assets/fonts/IBMPlexSansKR-Thin.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 200;
  src: url('./assets/fonts/IBMPlexSansKR-ExtraLight.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 300;
  src: url('./assets/fonts/IBMPlexSansKR-Light.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 400;
  src: url('./assets/fonts/IBMPlexSansKR-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 500;
  src: url('./assets/fonts/IBMPlexSansKR-Medium.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 600;
  src: url('./assets/fonts/IBMPlexSansKR-SemiBold.ttf');
}

@font-face {
  font-family: 'IBMPlexSansKR';
  font-weight: 700;
  src: url('./assets/fonts/IBMPlexSansKR-Bold.ttf');
}